.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.App {
  text-align: center;
}

.NavOrange {
  background: #ef9f27;
  background: linear-gradient(
    180deg,
    rgba(239, 159, 39, 1) 0%,
    rgba(251, 246, 218, 1) 100%
  );
}

.NavGreen {
  background: #639922;
  background: linear-gradient(
    180deg,
    rgba(99, 153, 34, 1) 0%,
    rgba(251, 246, 218, 1) 100%
  );
}

.PageBackground {
  padding: 0 !important;

  background: #fac775;
  background: radial-gradient(
    circle,
    rgba(250, 199, 117, 1) 0%,
    rgba(255, 221, 158, 1) 45%,
    rgba(251, 246, 218, 1) 100%
  );
}

.homeHeroGradient {
  margin: 0 !important;
  padding: 0 8rem;
  padding-top: 4rem;
  height: 100%;
  background: #fbf6da;
  background: linear-gradient(
    180deg,
    rgba(251, 246, 218, 1) 0%,
    rgba(251, 246, 218, 0) 100%
  );
}
.homeSection {
  margin: 0 !important;
  padding: 0 8rem;
  padding-top: 4rem;
  height: 100%;
}

.homeHero {
  min-height: 100vh;
  background: url("./assets/images/02-Hero-Default.png") no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
  letter-spacing: -1.28px !important;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 25px !important;
    text-align: center;
  }

  h2 {
    font-size: 20px !important;
    text-align: center;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 25px !important;
    text-align: center;
  }

  h2 {
    font-size: 20px !important;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 34px !important;
    text-align: center;
  }

  h2 {
    font-size: 22px !important;
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 64px !important;
    text-align: start;
  }

  h2 {
    font-size: 25px !important;
    text-align: start;
  }
}
